<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter="sass"
        '@AppBundle/Resources/public/materialize-src/sass/*' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets filter="sass"
        '@AppBundle/Resources/public/other/css/stylesheet.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="{% block bodyclass %} {% endblock %}">
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">
            <h4>{% block navTitle %} {% endblock %}</h4>

        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% block nav %}

            {% endblock %}
        </ul>
    </div>
</nav>
{% block content %}




</div>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/jquery.js'
    '@AppBundle/Resources/public/materialize-src/js/*' %}

    {% endjavascripts %}
{% endblock %}
</body>
</html>
