{% extends 'base.html.twig' %}
{% block navTitle %}
    {{ greet }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">

            </div>
        </div>

        <div class="row">
            <div class="col s6 l4">
                <div class="calendar">
                    <div class="row">
                        <div class="col s12">
                            <h2>Calendar</h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection">
                            {% for event in calendarEvents %}
                                <li class="collection-item avatar">
                                    <i class="material-icons dp48 circle">today</i>
                                    <span class="title">{{ event.date }} - {{ event.summary }}</span>
                                    {% if(event.wholeDay) %}
                                        <p>Hele dag</p>
                                    {% else %}
                                        <p>{{ event.start }} t/m {{ event.end }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col s6 l4">
                {% if(forecasts) %}
                    <div class="weather">
                        <div class="row">
                            <div class="col s12">
                                <h2>Weather</h2>
                            </div>
                        </div>

                        <div class="row">
                            {% for forecast in forecasts %}
                                <div class="col s6 m6 l6">
                                    <div class="card">
                                        <div class="card-image">
                                            {{ forecast.icon|weatherIcon(forecast.icon, 'large')|raw }}
                                            <span class="card-title black-text"></span>
                                        </div>
                                        <div class="card-content">
                                            <b>{{ forecast.date }}</b>
                                            <p>{{ forecast.conditions }}</p>

                                            <div class="row">
                                                <div class="col s6">
                                                    <p>Min:{{ forecast.min }}&deg;C</p>
                                                </div>
                                                <div class="col s6">
                                                    <p>Max:{{ forecast.max }}&deg;C</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                {% endif %}

            </div>
            {% if (channelInfo) %}
                <div class="col s6 l4">
                    <div class="lastPushes">
                        <div class="row">
                            <div class="col s12">
                                <h2>{{ channelInfo.name }}</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <ul class="collection">
                                    {% for push in channelInfo.recent_pushes %}
                                        <li class="collection-item avatar">
                                            <img src="{{ channelInfo.image_url }}" alt="" class="circle">
                                            <span class="title">{{ push.title }}</span>
                                            <p>{{ push.body }}</p>
                                            {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}

            {% if(recentlyAdded) %}
                <div class="col s6 l4">
                    <div class="recentlyAdded">
                        <div class="row">
                            <div class="col s12">
                                <h2>Recently added</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <ul class="collection">
                                    {% for mediaItem in recentlyAdded %}
                                        <li class="collection-item avatar">

                                            {% if(mediaItem.media_type == "movie") %}
                                                <i class="material-icons dp48 circle">movie</i>
                                                <span class="title">{{ mediaItem.title }}({{ mediaItem.year }})</span>
                                            {% elseif(mediaItem.media_type == "season") %}
                                                <i class="material-icons dp48 circle">video_library</i>
                                                <span class="title">{{ mediaItem.parent_title }}
                                                    - {{ mediaItem.title }}</span>
                                            {% endif %}

                                            <p> {{ mediaItem.library_name }}</p>
                                            <a href="#!" class="secondary-content"><span class="new badge"></span></a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            {% endif %}
        </div>
    </div>



{% endblock %}


