{% extends 'base.html.twig' %}
{% block bodyclass %}
    dark
{% endblock %}
{% block navTitle %}
    {{ greet }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col s3 offset-s9">
                <div class="calendar">
                    <div class="row">
                        <div class="col s12">
                            <h5>Calendar</h5>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s12">
                        <ul>
                            {% for event in calendarEvents %}
                                <li class="collection-item avatar">
                                    <div class="row row-no-margin-bottom">
                                        <div class="col s2">
                                            <i class="material-icons dp48 circle">today</i>
                                        </div>
                                        <div class="col s10">
                                            <span class="title">{{ event.date }} - {{ event.summary }}</span>
                                            {% if(event.wholeDay) %}
                                                <span>Hele dag</span>
                                            {% else %}
                                                <span>{{ event.start }} t/m {{ event.end }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">


            <div class="col s3 offset-s9">
                {% if(forecasts) %}
                    <div class="weather">
                        <div class="row">
                            <div class="col s12">
                                <h5>Weather</h5>
                            </div>
                        </div>
                        <div class="row">
                            <ul>
                                <li>
                                    {% for forecast in forecasts %}
                                        <div class="row row-no-margin-bottom">
                                            <div class="col s2">
                                                {{ forecast.icon|weatherIcon(forecast.icon,'small')|raw }}
                                            </div>
                                            <div class="col s10">
                                                <span>{{ forecast.date }}  {{ forecast.conditions }}</span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </li>
                            </ul>
                            {#<ul class="forecast">#}

                            {#<li class="collection-item avatar">#}
                            {#<div class="row">#}
                            {#<div class="col s2">#}
                            {#{{ forecast.icon|weatherIcon(forecast.icon,'small')|raw }}#}
                            {#</div>#}
                            {#<div class="col s10">#}

                            {#</div>#}
                            {#</div>#}
                            {#<img src="{{ channelInfo.image_url }}" alt="" class="circle">#}


                            {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
                            {#</li>#}
                            {#{% endfor %}#}
                            {#</ul>#}
                        </div>
                    </div>
                {% endif %}
            </div>


            {#{% if (channelInfo) %}#}
            {#<div class="col s6 l4">#}
            {#<div class="lastPushes">#}
            {#<div class="row">#}
            {#<div class="col s12">#}
            {#<h2>{{ channelInfo.name }}</h2>#}
            {#</div>#}
            {#</div>#}

            {#<div class="row">#}
            {#<div class="col s12">#}
            {#<ul class="collection">#}
            {#{% for push in channelInfo.recent_pushes %}#}
            {#<li class="collection-item avatar">#}
            {#<img src="{{ channelInfo.image_url }}" alt="" class="circle">#}
            {#<span class="title">{{ push.title }}</span>#}
            {#<p>{{ push.body }}</p>#}
            {#<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>#}
            {#</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}
            {#{% endif %}#}

            {#{% if(recentlyAdded) %}#}
            {#<div class="col s6 l4">#}
            {#<div class="recentlyAdded">#}
            {#<div class="row">#}
            {#<div class="col s12">#}
            {#<h2>Recently added</h2>#}
            {#</div>#}
            {#</div>#}

            {#<div class="row">#}
            {#<div class="col s12">#}
            {#<ul class="collection">#}
            {#{% for mediaItem in recentlyAdded %}#}
            {#<li class="collection-item avatar">#}

            {#{% if(mediaItem.media_type == "movie") %}#}
            {#<i class="material-icons dp48 circle">movie</i>#}
            {#<span class="title">{{ mediaItem.title }}({{ mediaItem.year }})</span>#}
            {#{% elseif(mediaItem.media_type == "season") %}#}
            {#<i class="material-icons dp48 circle">video_library</i>#}
            {#<span class="title">{{ mediaItem.parent_title }}#}
            {#- {{ mediaItem.title }}</span>#}
            {#{% endif %}#}

            {#<p> {{ mediaItem.library_name }}</p>#}
            {#<a href="#!" class="secondary-content"><span class="new badge"></span></a>#}
            {#</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}

            {#</div>#}

            {#{% endif %}#}


        </div>
    </div>


{% endblock %}


