@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../fonts/meteo/meteocons-webfont.eot');
    src: url('../fonts/meteo/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/meteo/meteocons-webfont.woff') format('woff'),
         url('../fonts/meteo/meteocons-webfont.ttf') format('truetype'),
         url('../fonts/meteo/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.weather-icon:before {
    font-family: 'MeteoconsRegular';
    content: attr(data-icon);
}

.weather-icon{

}
.weather-icon-block{
  display: block;
  text-align: center;
  width: 100%;
}
.weather-icon-large{
  font-size: 94px;
}
.nav-wrapper .brand-logo{
  text-align: center;
  display:block;
  width: 100%;
}


.collection .collection-item.avatar{
  height:auto;
  min-height: auto;
}

body.dark{
  background-color: #000;
  color:#fff;

  nav{
    background-color: #000;
  }

  .collection,.collection .collection-item, .card{
    background-color: #000;
  }
  .card{
    border: 1px solid #fff;
  }
  .row.row-no-margin-bottom{
    margin-bottom: 0px;
  }
}
