{% extends 'base.html.twig' %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            <ul>
                {% for msg in app.session.flashBag.get('success') %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>

        </div>
    {% endif %}


    <h2>Settings</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
